<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- ícones -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap"
      rel="stylesheet"
    />
    <!-- estilos -->
    <link rel="stylesheet" href="{{url_for('static', filename='reset.css')}}" />
    <!-- estilos globais -->
    <style>
      :root {
        --background-color: #fdf;
        --darker-background: #ece;
      }

      body {
        background-color: var(--background-color);
        font-family: "IBM Plex Mono", sans-serif, monospace;
        font-style: normal;
      }

      #banner {
        background-image: url("/static/4337131055_75ecfbbde6_o.jpg");
        background-repeat: no-repeat;
        background-position-y: 50%;
        background-size: 110%;
        background-color: #777;
        background-blend-mode: multiply;
        padding: 1em;
      }

      #banner h1 {
        font-size: 1.5rem;
        font-weight: 800;
        padding: 3em;
        color: #fff;
      }

      nav ul {
        display: flex;
        justify-content: space-evenly;
      }

      nav ul li {
        padding-right: 1em;
      }

      nav ul li a {
        color: #f8f;
      }

      main {
        padding: 1rem;
        min-height: 100vh;
      }

      footer {
        background-color: #787;
        color: #fff;
        padding: 3em;
      }

      footer h1 {
        font-size: 1.5rem;
        font-weight: 800;
      }

      article {
          position: relative;
          padding: 1em .5em;
          background-color: #d0d0d0;
          border-radius: 16px;
          margin-bottom: 1em;
      }

      article header h1 {
        font-size: 1.5rem;
      }

      section {
        padding: 1em 1em;
        margin-top: 1em;
        border: 1px #999 solid;
        border-radius: 8px;
      }

      section h1 {
        font-weight: bolder;
        padding-bottom: 0.5em;
      }

      em {
        font-style: italic;
      }

      p {
        line-height: 1.25;
      }

      .capitalized {
          text-transform: capitalize;
      }

      .visibility-button {
          position: absolute;
          top: .5em;
          right: .5em;
          border: 1px solid #000;
          border-radius: 8px;
          padding: .5em;
      }

      .hide-article:hover {
          cursor:zoom-out;
      }

      .show-article:hover {
          cursor:zoom-in;
      }

      .show-article {
          display: none;
      }
    </style>
  </head>
  <body>
    <header id="banner">
      <h1 id="announce">Tópicos Especiais em Inteligência Artificial</h1>
      <nav>
        <ul>
          <li>
            <a href="{{url_for('datasets.dataset_home')}}">Datasets</a>
          </li>
          <li>
            <a href="{{url_for('classifiers.classifier_home')}}">Classificadores</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <h1>Otávio Ferreira Clementino - 2025</h1>
    </footer>

    <script>
        // esconde a seção
        document.querySelectorAll('.hide-article').forEach((button) => {
            button.addEventListener('click', (ev) => {
                // seção
                const article = button.parentElement;

                // esconde todos os elementos, menos o título;
                const sections = Array.from(article.children)
                    .filter((elem) => elem.tagName === 'SECTION')
                    .forEach((elem) => elem.style.display = 'none');

                // esconde o botão (-)
                button.style.display = 'none';

                // mostra o botão (+)
                const showButton = article.querySelector('.show-article');
                showButton.style.display = 'block';
            });
        });

        // mostra a seção
        document.querySelectorAll('.show-article').forEach((button) => {
            button.addEventListener('click', (ev) => {
                // seção
                const article = button.parentElement;

                // esconde todos os elementos, menos o título;
                const sections = Array.from(article.children)
                    .filter((elem) => elem.tagName === 'SECTION')
                    .forEach((elem) => elem.style.display = 'block');

                // esconde o botão (+)
                button.style.display = 'none';

                // mostra o botão (-)
                const showButton = article.querySelector('.hide-article');
                showButton.style.display = 'block';
            });
        });
    </script>
  </body>

</html>
