<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- ícones -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap"
      rel="stylesheet"
    />
    <!-- estilos -->
    <link rel="stylesheet" href="{{url_for('static', filename='reset.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <header>
      <h1 id="announce">Tópicos Especiais em Inteligência Artificial</h1>
      <nav>
        <ul>
          <li>
            <a href="{{url_for('datasets.dataset_home')}}">Datasets</a>
          </li>
          <li>
            <a href="{{url_for('classifiers.classifier_home')}}"
              >Classificadores</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <h1>Otávio Ferreira Clementino - 2025</h1>
    </footer>
  </body>
</html>
