{% extends 'base.html.j2' %}

{% block title %} Início {% endblock %}

{% block content %}
<section id="title">
    <h1>Projeto da disciplina</h1>
</section>
<section id="content">
    <p>Esse projeto usa os dados de flores da espécie Iris.</p>
</section>
{% endblock %}
